.table-actions-container {
  padding: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-actions-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.table-actions-button-icon {
  font-size: 1.2rem;
  margin-right: 5px;
}

.edit-icon {
  font-size: 1.1rem;
  transition: 0.2s linear;
}

.edit-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
